body:not(.minecraft-cursor) {
  cursor: auto !important;
}

body.minecraft-cursor {
  cursor: url('/assets/cursors/default24.png') 7 3, default;
}

body.minecraft-cursor a,
body.minecraft-cursor button:enabled {
  cursor: url('/assets/cursors/pointer24.png') 7 3, pointer;
}

body.minecraft-cursor input[type='search'],
body.minecraft-cursor input[type='text'] {
  cursor: url('/assets/cursors/text24.png') 8 11, text;
}
